#accordion{
    width: 100%;
    padding: 0px;
    list-style: none;
    background:#266886;
}
#accordion h2
{
    font-family:'Pathway Gothic One' , sans-serif;
    font-size: 12pt;
    font-weight: 300;
    margin: 0px;
    padding: 10px;
    background: #266886;
    border-bottom: 1px solid #fff;
    text-transform:uppercase;
    text-align:center;
    color:#ffffff;
}
#accordion li div.content{
    display: block;
    padding: 10px;
    background: #f9f9f9;
    border: 1px solid #ddd;
    
}
#accordion li:hover div.content{
    display: block;
}


/* nuevo tolip */

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 105%;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}