#cabecera {    
    background-image: url('../Images/ImgInicio/fondo_cabecera.png');
    height:98px;
}

#titulo {
    font-family: 'Pathway Gothic One' , arial narrow, sans-serif;
    font-weight: 600;
    /* text-transform: uppercase; */
    color: #5C5C5C;
    width: 60%;
    float: left;
    height: 28px;
    font-size: 26pt;
    vertical-align: middle;
    text-align: center;
}
#pie {
    height: 67px;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    background-image: url(../Images/ImgInicio/fondo_pie.png);
    /* clear: both; */
    border-right-style: groove;
    border-bottom-style: groove;
    border-left-style: groove;
    border-right-width: thin;
    border-bottom-width: thin;
    border-left-width: thin;
    border-right-color: #266886;
    border-bottom-color: #266886;
    border-left-color: #266886;
    font-family: sans-serif;
    font-weight: 300;
    color: #FFFFFF;
}
#lblColegio2 {
        position: absolute;
    margin-left: -1%;
}
#Body {
        padding-left: 10%;
    padding-right: 10%;
    margin-top: 1%;
    margin-bottom: 1%;
}
#Data {
        margin-bottom: 1%;
    border: solid 1px #266886;
   
}
.Titulo th{
        font-family: 'Pathway Gothic One' , arial narrow, sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #266886;
    color: #FFFFFF;
    height: 28px;
    font-size: 12pt;
    vertical-align: middle;
    text-align: center;
}
.Titulo {
    background-color: #266886;
}


#Contenido {
     
     border: solid 1px #266886;
}
.padding {
    padding-top:0.5%;
    padding-bottom:0.5%;
}

#Contenid span {
    width:10%;
}
