.info {
    color: #00529B;
    background-color: #BDE5F8;
    background-image: url('../Images/info.gif');
    padding: 10px 0px 10px 45px;
    background-repeat: no-repeat;
	vertical-align:middle;
	padding-left: 45px;
	height: auto;
	background-position: 10px center;
}

.exito
{
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image: url( '../Images/exito.gif' );
	padding: 10px 0px 10px 45px;
	background-repeat: no-repeat;
	vertical-align:middle;
	padding-left: 42px;
	height: auto;
	background-position: 10px center;
}

.error {
    color: #D8000C;
    background-color: #FFBABA;
    background-image: url('../Images/error.gif');
    padding: 10px 0px 10px 45px;
    background-repeat: no-repeat;
	vertical-align:middle;
	padding-left: 42px;
	height:auto;
	background-position: 10px center;
}

.watermarkOn 
{
    color: #CCCCCC; 
    font-style: italic; 
} 


