<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <MSDeployServiceURL>192.168.0.11</MSDeployServiceURL>
    <DeployIisAppPath>MiEmpleoSrv</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>false</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>false</EnableMsDeployAppOffline>
    <UserName>SERVER\Administrador</UserName>
    <_SavePWD>true</_SavePWD>
    <_TargetId>IISWebDeploy</_TargetId>
    <PrecompileBeforePublish>true</PrecompileBeforePublish>
    <EnableUpdateable>true</EnableUpdateable>
    <DebugSymbols>false</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="MiEmpleo" Order="1" Enabled="False">
          <Destination Path="Data Source=SERVER;Initial Catalog=MiEmpleo;User ID=sa;Password=ITMasters" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=SERVER;Initial Catalog=MiEmpleo;User ID=sa;Password=ITMasters" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MiEmpleo_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=SERVER; initial catalog=MiEmpleo; user id=sa; password=ITMasters" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MiEmpleo-Web.config Connection String">
      <ParameterValue>Data Source=SERVER;Initial Catalog=MiEmpleo;User ID=sa;Password=ITMasters</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>