@import url('Sesion.css');

:root {
    --color-100: var(--green-100);
    --color-200: var(--green-200);
    --color-300: var(--green-300);
    --color-400: var(--green-400);
    --color-500: var(--green-500);
    --color-600: var(--green-600);
    --color-700: var(--green-700);
    --color-800: var(--green-800);
    --color-900: var(--green-900);
} 
