@import url('MenuAcordeon.css');
:root {
    --color-100: var(--orange-100);
    --color-200: var(--orange-200);
    --color-300: var(--orange-300);
    --color-400: var(--orange-400);
    --color-500: var(--orange-500);
    --color-600: var(--orange-600);
    --color-700: var(--orange-700);
    --color-800: var(--orange-800);
    --color-900: var(--orange-900);
}
/*Efecto*/
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

    .modalmask:target {
        opacity: 1;
        pointer-events: auto;
    }

/*Formato de la ventana*/
.modalbox {
    width: 400px;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius: 3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

/*Movimientos*/
.movedown {
    margin: 0 auto;
}

.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}

.resize {
    margin: 10% auto;
    width: 0;
    height: 0;
}

.modalmask:target .movedown {
    margin: 10% auto;
}

.modalmask:target .rotate {
    transform: rotate(360deg) scale(1,1);
    -webkit-transform: rotate(360deg) scale(1,1);
}

.modalmask:target .resize {
    width: 400px;
    height: 200px;
}

/*Boton de cerrar*/
.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 3px;
}

    .close:hover {
        background: #FAAC58;
        color: #222;
    }

.modalDialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(153,153,153,0.8);
    z-index: 99999;
    display: none;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: auto;
}

    .modalDialog > div {
        width: 500px;
        position: relative;
        margin: 10% auto;
        padding: 10px 10px 10px 10px;
        border-radius: 10px;
        /*contorno de la ventana*/
        background: -o-linear-gradient(#fff, #fff);
        background: -moz-linear-gradient(#fff, #fff);
        background: -webkit-linear-gradient(#fff, #fff);
        background: -o-linear-gradient(#fff, #fff);
        -webkit-transition: opacity 100ms ease-in;
        -moz-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
    }

.close {
    /*background: red;*/
    color: red;
    line-height: 20px;
    position: center;
    bottom: 12px;
    left: 60px;
    text-align: center;
    width: 44px;
    height: 20px;
    font-size: large;
    opacity: 1;
}

    .close:hover {
        background: white;
    }

.auto-style1 {
    color: #FFFFFF;
    font-size: large;
}