
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
}
:root{
    --first-color-500:#33a7c1;
    --first-color-600:#297991;
    --red-500:#FF1115;
}
body {
  min-height: 100dvh;
}

h1, h2, h3, h4 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
}
.text-thin {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.text-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.text-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.text-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.text-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.text-thin-italic {
  font-family: "Lato", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.text-light-italic {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.text-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.text-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.text-black-italic {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: italic;
}
.text-title{
    font-size: 40px;
    line-height: 160%;
}
.text-normal{
    font-size: 14px;
    line-height: 160%;
}
.header{
  height: 142px;
  padding: 12px;
  display: flex;
  justify-content: center;
}
.header .logo{
  height: 118px;
}
.content{
    display: flex;
    height: calc(100vh - 142px);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;
    padding: 0  24px 50px 24px;
}
.header-error{
    max-width: 275.06;
    position: relative;
    margin-bottom: 24px;
}
.header-error .img-error{
    width: 100%;
    max-width: 175.06px;
    height: auto;
}
.header-error .cod-error{
    position: absolute;
    font-size: 50px;
    color: var(--first-color-600);
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
}
.info-error{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:12px;
}
.info-error .title-error{
    text-align: center;
}
.info-error .text-error{
    max-width:829px;   
    text-align: center;
    text-wrap: pretty;
}
.color-red{
    color: var(--red-500);
}
.button{
    background-color: var(--first-color-500);
    text-decoration: none;
    padding: .8em 1em;
    color: white;
    border-radius: .3em;
}