@import 'Variables.css';
@import 'Utilities.css';

:root {
    --color-100: var(--green-100);
    --color-200: var(--green-200);
    --color-300: var(--green-300);
    --color-400: var(--green-400);
    --color-500: var(--green-500);
    --color-600: var(--green-600);
    --color-700: var(--green-700);
    --color-800: var(--green-800);
    --color-900: var(--green-900);
}

main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
}

.banner {
    display: flex;
    padding: 2rem;
    text-align: center;
    background-image: url(../Images/ImgInicio/vector-21.png);
    background-size: 150%;
    background-position: 50%;
    background-repeat: no-repeat;
    overflow: hidden;
    justify-content: center;
    width: 100%;
    height: 90dvh;
    padding-top: 54px;
}

.info-banner {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    gap: 1em;
}

.banner .form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-radius: 30px;
    padding: 1em;
    background: var(--green-100);
}

.banner img {
    display: none;
}


.wrapper-offers {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}

.wrapper {
    margin: auto;
    display: flex;
    flex-direction: column;
    place-items: center;
    gap: 1.5rem;
}

.offer-item {
    background-color: var(--gray-200);
    text-align: center;
    padding: 1em;
    max-width: 380px;
    box-shadow: var(--shadow);
}

    .offer-item h3 {
        margin-bottom: 1rem;
    }

.offer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

    .offer-content img {
        object-fit: contain;
    }

.loginIcon {
    height: 100%;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginIcon img {
    height: 50%;
}

.loginIconDesktop {
    display: none;
}

.benefit-main {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 500px;
}

    .benefit-main img {
        transform: rotate3d(0, 1, 0, 180deg);
        grid-row-start: 1;
        grid-row-end: 3;
    }

.benefit button {
    grid-column-start: 2;
}

.benefit-main img.desktop {
    display: none;
}

section.benefit {
    background-image: url(../Images/ImgInicio/vector-21.png);
    background-size: 150%;
    background-repeat: no-repeat;
    text-align: center;
    overflow: hidden;
    width: 100%;
    background-position: 100% -10%;
    gap: 1rem;
}

.benefit p {
    width: 80%;
    margin: auto;
    max-width: 400px;
}

.benefit h2 {
    width: 50%;
}

.benefit-content {
    gap: 1rem;
}

.customers h2 {
    margin-bottom: 3rem;
}

.slider {
    display: flex;
    align-items: center;
    padding: 2rem;
}

    .slider .arrowRight {
        transform: rotate(180deg);
    }

.customers-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    max-width: 300px;
}

.arrowRight, .arrowLeft {
    width: 3rem;
}

.footer.desktop {
    display: none;
}

.footer {
    background-color: var(--gray-200);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
}

    .footer p {
        width: 90%;
        max-width: 300px;
    }

    .footer .social {
        list-style: none;
        display: flex;
        gap: 1rem;
        align-items: center;
        background-color: #595959;
        padding: .5rem;
        border-radius: var(--rounded-button);
    }

@media screen and (min-width:800px) {
    .header button {
        display: block;
    }

    .banner {
        background-size: 100%;
    }

        .banner h1 {
            width: 600px;
            margin-bottom: 3rem;
        }

    .loginIcon {
        display: none;
    }

    .loginIconDesktop {
        display: flex;
    }

    .benefit-main img {
        display: block;
    }

    .benefit-main p {
        max-width: 280px;
    }

    .wrapper-offers {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1.5rem;
    }
}

@media screen and (min-width:1200px) {
    .loginIcon {
        display: none;
    }

    .wrapper.offers {
        width: 80%;
    }

    .banner {
        height: 90dvh;
        background-position: center 125%;
    }

        .banner img.mobile {
            display: none;
        }

        .banner img.desktop {
            display: block;
        }

    .info-banner {
        justify-content: center;
    }

    .banner .form {
        flex-direction: row;
    }

    .offer-item {
        max-width: 600px;
    }

    .offer-content {
        gap: 2rem;
    }

    .wrapper.benefit {
        height: 70dvh;
        background-position: center 125%;
        background-size: 95%;
    }

    .benefit-main p {
        max-width: 400px;
    }

    .benefit img.mobile {
        display: none;
    }

    .benefit img.desktop {
        display: block;
    }

    .benefit-main {
        max-width: 100%;
    }

    .footer.mobile {
        display: none;
    }

    .footer.desktop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300.408px;
    }

    .footer .menu-footer {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        list-style: none;
        text-align: left;
    }

    .footer-social .button {
        margin-bottom: 1rem;
    }
}
