/*@import url('Utilities.css');*/
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 54px;
    box-shadow: var(--shadow); 
}
.menu img{
    width: 42px;
}
.logo{
    height: 100%;
}
.logo img{
    height: 80%;
}
.header .tech{
    display: none
}
.header button{
    display: none;
}
.overlay{
    position: absolute;
    background-color: var(--gray-100);
    left: 0;
    top: 74px;
    padding: 3rem;
    
}
.overlay li{
    list-style: none;
}
.loginIconDesktop{
    display: none;
}
@media screen and (min-width:800px) {
    .header button{
        display: block;
    }
}
@media screen and (min-width:1200px) {
    
    .header{
        height: 75px;

    }
    .header .tech{
        display: block;
    }
    .wrapper.offers{
        width: 80%;
    }
    
    .menu img{
        width: 60px;
    }
    .loginIconDesktop{
        display:flex ;
    }
    .loginIcon{
        display: none;
    }
}
