@import 'Variables.css';
@import 'Utilities.css';

body{
    
    height: 100%;
    /* padding-bottom:80px; */
    /* background-size: cover; */
}

.headerSesion{
    padding: 2rem;
    /* position: fixed; */
    min-height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerSesion img{
    margin:auto;
    width:100%;
}
.wrapper-sesion{
    background: linear-gradient(0deg, #EAEAEA 86.61%, var(--color-500) 106%);
    background-repeat: no-repeat;
    display: flex;
    place-items: center;
    flex-direction: column;
    
    height: 100dvh;
}
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 3rem;
    max-width: 750px;
    padding: 0 10%;
    height: auto;
    margin: 0 auto;

}
.form-column.LogIn{
    justify-content: space-around;
    height: 100%;
}
.w-100{
    width: 100%;
}
.info{
    display: none;
}
@media screen and (min-width:1200px) {
    body{
        
        background-color: var(--white) ;
        /*height: 100dvh;*/
        padding-bottom:0;
    }
    .wrapper-sesion{
        background: none;
    }
    .headerSesion{
        justify-content: left;
        top: 0;

    }
    .wrapper{
        max-width: 500PX;
        grid-column-start: 1;
        grid-row-end:3 ;
        /*height: 70%;*/
        margin: 0 auto;
        /*transform: translateY(0);*/
    }
    .info{
        display: flex;
        margin: auto;
        background:linear-gradient(0deg, #EAEAEA 20.61%,var(--color-500) 150%);
        height: 100%;
        width: 100%;
        place-content: center;
        grid-row-start:1 ;
        grid-row-end: 3;
        
    }
    .info img{
        /*height:100vh;*/
        width:100%;
        object-fit:cover;
    }
    
    .wrapper-sesion{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 150px auto;
        height: 100%;
    }
}
