* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    border: none;
}
*:focus-visible {
     border: 1px solid var(--color-300);
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: none;
    scrollbar-color: #969696 #fdfbfb;
}

    /* Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 8px;
    }

    *::-webkit-scrollbar-track {
        background: #dedede00;
    }

    *::-webkit-scrollbar-thumb {
        background-color: #969696;
        border-radius: 10px;
        border: 3px none #ffffff;
    }

@font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

:root {
    --p-button: .8em 2em;
    --p-16: 16px;
    --p-24: 24px;
    --p-32: 32px;
    --rounded-button: 1.5em;
    --rounded-frame: 10px;
    --rounded-input: .5em 1.25em;
    --border-input: 1.5px solid var(--gray-300);
    --border-button: solid 1.5px var(--color-500);
    /* Shadows */
    --shadow-button: 0px 2px 7px 0px rgba(4, 4, 4, 0.26);
    /* Colors */

    --gray-100: #EAEAEA;
    --gray-200: #D6D6D6;
    --gray-300: #C1C1C1;
    --gray-400: #ADADAD;
    --gray-500: #989898;
    --gray-600: #7A7A7A;
    --gray-700: #5B5B5B;
    --gray-800: #3D3D3D;
    --gray-900: #1E1E1E;
    --green-100: #CEF9EA;
    --green-200: #9DF3D4;
    --green-300: #6BEEBF;
    --green-400: #3AE8A9;
    --green-500: #09E294;
    --green-600: #07B576;
    --green-700: #058859;
    --green-800: #045A3B;
    --green-900: #1E1E1E;
    --orange-100: #FFEBCC;
    --orange-200: #FFD899;
    --orange-300: #FFC466;
    --orange-400: #FFB133;
    --orange-500: #FF9D00;
    --orange-600: #CC7E00;
    --orange-700: #995E00;
    --orange-800: #663F00;
    --orange-900: #331F00;
    --red-100: #FAD6D6;
    --red-200: #F5ADAD;
    --red-300: #F18484;
    --red-400: #EC5B5B;
    --red-500: #E73232;
    --red-600: #B92828;
    --red-700: #8B1E1E;
    --red-800: #5C1414;
    --red-900: #2E0A0A;
    --white: #F9F9FA;
    --black: #050505;
    --shadow: 0px 2px 4px 0px rgba(126, 126, 126, 0.808);
    /*linear Gradients*/
    --bg-gradient-500: linear-gradient(0deg, var(--gray-50) 86.61%, var(--color-500) 106%);
    /* Fonts */
    --font-family-display: inter;
    --font-family-normal: inter;
    --font-size-title: 40px;
    --font-size-subtitle: 32px;
    --font-size-section: 24px;
    --font-size-item: 20px;
    --font-size-normal: 16px;
    --font-size-small: 14px;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --line-height-title: 160%;
    --line-height-norma: 200%;
    --z-index-modal:100;
}

@media screen and (min-width:1200px) {
    :root {
        --font-size-title: 54px;
        --font-size-subtitle: 40px;
    }
}

body {
    background-color: var(--white);
    position:relative;
}
h1, h2, h3, h4, h5, h6{
    font-family: var(--font-family-display);
}

p, a, span, label {
    font-family: var(--font-family-normal);
}

svg {
    width: 48px;
}
#ui-datepicker-div {
    position: absolute;
    top: 994px;
    left: 313px;
    z-index: 1;
    background-color: white;
    box-shadow: 0 0 4px 1px var(--gray-500);
    border-radius: 0.5rem;
    padding: 0.5rem;

}

.header-master {
    position: fixed;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    align-items: center;
    width: calc(100% - 100px);
    left: 100px;
    top: 0;
    padding: 1rem;
    background-color: var(--white);
    z-index: 50;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
}
    .header-master info-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .header-master .logo {
        width: 200px;
    }

    .header-master info-header > span {
        font-family: var(--font-family-normal);
        font-size: var(--font-size-section);
        font-weight: var(--font-weight-semibold);
        color: var(--color-800);
    }
    .header-master .space-menu{
        display:none;
    }
    @media screen and (max-width:848px) {
        .header-master .info-header{
        display:none;
    }
    .header-master{
        justify-content:space-between;
    }
    
    @media screen and (max-width:500px){
        .header-master {
            left:0;
            width:100%;
        }
       .header-master .space-menu {
           display: block;
           width: 44px;
           height: 44px;
       }
    }
}
/*Modal*/

.modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height:100vh;
    background: rgba(153,153,153,0.8);
    z-index: 99999;
    display: none;
    -webkit-transition: opacity 100ms ease-in;
    -moz-transition: opacity 100ms ease-in;
    transition: opacity 100ms ease-in;
    pointer-events: auto;
    overflow-y:scroll;
}

    .modal-dialog > div {
        width: 80%;
        height: max-content;
        position: relative;
        margin: 10% auto;
        padding: 56px;
        border-radius: 10px;
        /contorno de la ventana/ background: -o-linear-gradient(#fff, #fff);
        background: -moz-linear-gradient(#fff, #fff);
        background: -webkit-linear-gradient(#fff, #fff);
        background: -o-linear-gradient(#fff, #fff);
        -webkit-transition: opacity 100ms ease-in;
        -moz-transition: opacity 100ms ease-in;
        transition: opacity 100ms ease-in;
    }

@media and screen (min-width:500px) {
    .modal-dialog > div {
        width: 100vw;
    }
}

.closed {
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: .8;
}

    .closed:hover {
        opacity: 1;
    }


.auto-style1 {
    color: #FFFFFF;
    font-size: large;
}
.work-side {
    min-height: calc(100vh - 110px);
    padding-top:121px;
}

.button {
    display: inline-flex;
    align-items: center;
    border-radius: 100px;
    box-shadow: var(--shadow-button);
    color: var(--gray-100);
    cursor: pointer;
    font-family: var(--font-family-display);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semibold);
    gap: 8px;
    background-color: var(--color-500);
    transition: all .1s linear;
    padding: var(--p-button);
    top: 0px;
    left: 0px;
    text-align: center;
    align-self: center;
}

    .button:hover {
        background-color: var(--color-600);
    }

.button-ghost {
    display: inline-flex;
    align-items: center;
    border: var(--border-button);
    border-radius: 100px;
    background: var(--gray-100);
    box-shadow: var(--shadow-button);
    color: var(--color-500);
    cursor: pointer;
    font-family: var(--font-family-display);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semibold);
    gap: 8px;
    padding: var(--p-button);
    transition: all .2s linear;
}

    .button-ghost:hover {
        background-color: var(--color-500);
        border-color: var(--color-500);
        color: var(--gray-100);
    }

.button-link {
    display: inline;
    background: none;
    color: var(--color-500);
    font-weight: var(--font-weight-medium);
    cursor: pointer;
}

    .button-link:hover {
        color: var(--color-600);
    }

.button-i svg {
    display: flex;
    padding: .3em;
    color: var(--gray-700);
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background: var(--color-400);
    box-shadow: 0px 0.64121px 0.64121px 0px rgba(0, 0, 0, 0.25);
}

.button-i input[type = submit] {
    display: none;
}

.button-i-ghost svg {
    display: flex;
    padding: .2em;
    color: var(--gray-500);
    width: 34px;
    height: 34px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    border: var(--border-input);
    background: var(--gray-100);
    box-shadow: 0px 0.64121px 0.64121px 0px rgba(0, 0, 0, 0.25);
}

.button-i-ghost input[type = submit] {
    display: none;
}

.switch > input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

.switch {
    display: flex;
    cursor: pointer;
    width: 62px;
    height: 34px;
    background-color: var(--gray-100);
    border: var(--border-input);
    border-radius: 100px;
    position: relative;
}

    .switch:after {
        content: '';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 5px;
        width: 24px;
        height: 24px;
        background-color: var(--gray-300);
        border-radius: 50%;
        transition: 0.3s;
    }

    .switch:has(input:checked) {
        background-color: var(--color-100);
    }

        .switch:has(input:checked)::after {
            left: calc(100% - 5px);
            transform: translate(-100%, -50%);
            background-color: var(--color-400);
        }

    .switch:active:after {
        width: 32px;
    }





/* Clases con borde redondeado */
.rounded {
    border-radius: var(--rounded-frame);
}

/* Clases con tamaños de fuente */
.text-title {
    font-family:var(--font-family-normal);
    font-size: var(--font-size-title);
}

.text-subtitle {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-subtitle);
    text-align: center;
}

.text-section {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-section);
}

.text-item {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-item);
}

.text-normal {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-normal);
}

.text-small {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-small);
}

/* Clases con pesos de fuente */
.text-semibold {
    font-weight: var(--font-weight-semibold);
}

.text-medium {
    font-weight: var(--font-weight-medium);
}

.text-regular {
    font-weight: var(--font-weight-regular);
}
.text-nowrap{
    white-space:nowrap;
}
.truncate {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

/* Colors in class */

.color-gray-100 {
    color: var(--gray-100);
}

.color-gray-200 {
    color: var(--gray-200);
}

.color-gray-300 {
    color: var(--gray-300);
}

.color-gray-400 {
    color: var(--gray-400);
}

.color-gray-500 {
    color: var(--gray-500);
}

.color-gray-600 {
    color: var(--gray-600);
}

.color-gray-700 {
    color: var(--gray-700);
}

.color-gray-800 {
    color: var(--gray-800);
}

.color-gray-900 {
    color: var(--gray-900);
}
.color-red-100 {
    color: var(--red-100);
}

.color-red-200 {
    color: var(--red-200);
}

.color-red-300 {
    color: var(--red-300);
}

.color-red-400 {
    color: var(--red-400);
}

.color-red-500 {
    color: var(--red-500);
}

.color-red-600 {
    color: var(--red-600);
}

.color-red-700 {
    color: var(--red-700);
}

.color-red-800 {
    color: var(--red-800);
}

.color-red-900 {
    color: var(--red-900);
}

.color-green-100 {
    color: var(--green-100);
}

.color-green-200 {
    color: var(--green-200);
}

.color-green-300 {
    color: var(--green-300);
}

.color-green-400 {
    color: var(--green-400);
}

.color-green-500 {
    color: var(--green-500);
}

.color-green-600 {
    color: var(--green-600);
}

.color-green-700 {
    color: var(--green-700);
}

.color-green-800 {
    color: var(--green-800);
}

.color-green-900 {
    color: var(--green-900);
}
.color-orange-100 {
    color: var(--orange-100);
}

.color-orange-200 {
    color: var(--orange-200);
}

.color-orange-300 {
    color: var(--orange-300);
}

.color-orange-400 {
    color: var(--orange-400);
}

.color-orange-500 {
    color: var(--orange-500);
}

.color-orange-600 {
    color: var(--orange-600);
}

.color-orange-700 {
    color: var(--orange-700);
}

.color-orange-800 {
    color: var(--orange-800);
}

.color-orange-900 {
    color: var(--orange-900);
}

.color-white {
    color: var(--white);
}

.color-black {
    color: var(--black);
}
.color-100 {
    color: var(--color-100);
}
.color-200 {
    color: var(--color-200);
}
.color-300 {
    color: var(--color-300);
}
.color-400 {
    color: var(--color-400);
}
.color-500 {
    color: var(--color-500);
}
.color-600 {
    color: var(--color-600);
}
.color-700 {
    color: var(--color-700);
}
.color-800 {
    color: var(--color-800);
}
.color-900 {
    color: var(--color-900);
}

/* Backgorunds with colors */

.bg-gray-100 {
    background-color: var(--gray-100);
}

.bg-gray-200 {
    background-color: var(--gray-200);
}

.bg-gray-300 {
    background-color: var(--gray-300);
}

.bg-gray-400 {
    background-color: var(--gray-400);
}

.bg-gray-500 {
    background-color: var(--gray-500);
}

.bg-gray-600 {
    background-color: var(--gray-600);
}

.bg-gray-700 {
    background-color: var(--gray-700);
}

.bg-gray-800 {
    background-color: var(--gray-800);
}

.bg-gray-900 {
    background-color: var(--gray-900);
}

.bg-green-100 {
    background-color: var(--green-100);
}

.bg-green-200 {
    background-color: var(--green-200);
}

.bg-green-300 {
    background-color: var(--green-300);
}

.bg-green-400 {
    background-color: var(--green-400);
}

.bg-green-500 {
    background-color: var(--green-500);
}

.bg-green-600 {
    background-color: var(--green-600);
}

.bg-green-700 {
    background-color: var(--green-700);
}

.bg-green-800 {
    background-color: var(--green-800);
}

.bg-green-900 {
    background-color: var(--green-900);
}

.bg-orange-100 {
    background-color: var(--orange-100);
}

.bg-orange-200 {
    background-color: var(--orange-200);
}

.bg-orange-300 {
    background-color: var(--orange-300);
}

.bg-orange-400 {
    background-color: var(--orange-400);
}

.bg-orange-500 {
    background-color: var(--orange-500);
}

.bg-orange-600 {
    background-color: var(--orange-600);
}

.bg-orange-700 {
    background-color: var(--orange-700);
}

.bg-orange-800 {
    background-color: var(--orange-800);
}

.bg-orange-900 {
    background-color: var(--orange-900);
}
bg-red-100 {
    background-color: var(--red-100);
}

.bg-red-200 {
    background-color: var(--red-200);
}

.bg-red-300 {
    background-color: var(--red-300);
}

.bg-red-400 {
    background-color: var(--red-400);
}

.bg-red-500 {
    background-color: var(--red-500);
}

.bg-red-600 {
    background-color: var(--red-600);
}

.bg-red-700 {
    background-color: var(--red-700);
}

.bg-red-800 {
    background-color: var(--red-800);
}

.bg-red-900 {
    background-color: var(--red-900);
}
.bg-white {
    background-color: var(--white);
}

.bg-black {
    background-color: var(--black);
}
.bg-color-100{
    background-color:var(--color-100);
}  
.bg-color-200{
    background-color:var(--color-200);
}  
.bg-color-300{
    background-color:var(--color-300);
}  
.bg-color-400{
    background-color:var(--color-400);
}  
.bg-color-500{
    background-color:var(--color-500);
}  
.bg-color-600{
    background-color:var(--color-600);
}  
.bg-color-700{
    background-color:var(--color-700);
}  
.bg-color-800{
    background-color:var(--color-800);
}  
.bg-color-900{
    background-color:var(--color-900);
}  

/*Borders whit  Colors*/
.border-color-gray-100 {
    border-color: var(--gray-100);
}

.border-color-gray-200 {
    border-color: var(--gray-200);
}

.border-color-gray-300 {
    border-color: var(--gray-300);
}

.border-color-gray-400 {
    border-color: var(--gray-400);
}

.border-color-gray-500 {
    border-color: var(--gray-500);
}

.border-color-gray-600 {
    border-color: var(--gray-600);
}

.border-color-gray-700 {
    border-color: var(--gray-700);
}

.border-color-gray-800 {
    border-color: var(--gray-800);
}

.border-color-gray-900 {
    border-color: var(--gray-900);
}

.border-color-red-100 {
    border-color: var(--red-100);
}

.border-color-red-200 {
    border-color: var(--red-200);
}

.border-color-red-300 {
    border-color: var(--red-300);
}

.border-color-red-400 {
    border-color: var(--red-400);
}

.border-color-red-500 {
    border-color: var(--red-500);
}

.border-color-red-600 {
    border-color: var(--red-600);
}

.border-color-red-700 {
    border-color: var(--red-700);
}

.border-color-red-800 {
    border-color: var(--red-800);
}

.border-color-red-900 {
    border-color: var(--red-900);
}

.border-color-green-100 {
    border-color: var(--green-100);
}

.border-color-green-200 {
    border-color: var(--green-200);
}

.border-color-green-300 {
    border-color: var(--green-300);
}

.border-color-green-400 {
    border-color: var(--green-400);
}

.border-color-green-500 {
    border-color: var(--green-500);
}

.border-color-green-600 {
    border-color: var(--green-600);
}

.border-color-green-700 {
    border-color: var(--green-700);
}

.border-color-green-800 {
    border-color: var(--green-800);
}

.border-color-green-900 {
    border-color: var(--green-900);
}

.border-color-orange-100 {
    border-color: var(--orange-100);
}

.border-color-orange-200 {
    border-color: var(--orange-200);
}

.border-color-orange-300 {
    border-color: var(--orange-300);
}

.border-color-orange-400 {
    border-color: var(--orange-400);
}

.border-color-orange-500 {
    border-color: var(--orange-500);
}

.border-color-orange-600 {
    border-color: var(--orange-600);
}

.border-color-orange-700 {
    border-color: var(--orange-700);
}

.border-color-orange-800 {
    border-color: var(--orange-800);
}

.border-color-orange-900 {
    border-color: var(--orange-900);
}

.border-color-white {
    border-color: var(--white);
}

.border-color-black {
    border-color: var(--black);
}



.border-color-100 {
    border-color: var(--color-100);
}

.border-color-200 {
    border-color: var(--color-200);
}

.border-color-300 {
    border-color: var(--color-300);
}

.border-color-400 {
    border-color: var(--color-400);
}

.border-color-500 {
    border-color: var(--color-500);
}

.border-color-600 {
    border-color: var(--color-600);
}

.border-color-700 {
    border-color: var(--color-700);
}

.border-color-800 {
    border-color: var(--color-800);
}

.border-color-900 {
    border-color: var(--color-900);
}
/* Inputs */

.text-box {
    border:var(--border-input);
    border-radius:100px;
    background:var(--gray-100);
    color:var(--gray-600);
    font-family:var(--font-family-display);
    font-size:var(--font-size-normal);
    font-weight:var(--font-weight-medium);
    padding: var(--rounded-input);
    width:100%;
    max-width:900px;
    min-width:150px;
}
/*Tipo Google*/
.input-field {
    border: var(--border-input);
    border-radius: 100px;
    background: var(--gray-100);
    color: var(--gray-600);
    font-family: var(--font-family-display);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    position:relative;
}
.input-field:has(input[type="date" i]) {
    overflow:hidden;
    & span, label {
    position: absolute;
    display: block;
    left: 42px;
    font-weight: var(--font-weight-regular);
    transition: ease-out 0.3s, background 0.6s;
}
    & svg{
        display:none;
    }
    
    & input[type="date"] {
          display:flex;
          flex-direction:row-reverse;
          gap:4px;
          color:var(--gray-100);
          transition:.2s ease;
    }
    & input:focus, input.has-content{
        color:var(--gray-500);
    }

    & input:focus ~ span, input:focus ~ label,
      input.has-content ~ span, input.has-content ~ label  {
        transform: translateY(-150%);
        left: 12px;
        padding:1.5px;
        font-size: var(--font-size-small);
        transition: ease-out 0.3s, background 0.1s;
    }
  
    
       
}
.input-field:has(input:focus), .input-field:has(input.has-content) {
    overflow: visible;
}


.input-i-l {
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
}
.input-i-l svg, .input-i-l img{
    left: 12px;
    width: 24px;
}
.input-i-l input {
    background: none;
    color: var(--gray-600);
    font-family: var(--font-family-display);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    padding: var(--rounded-input);
    width: 100%;
}

.input-i-l > input:active, .input-i-l input:focus-visible, .input-i-l input:focus .input-i-l input:target {
    border: none;
}

.p-16 {
    padding: 16px;
}

.p-x-16 {
    padding: 0 16px;
}
.p-y-16{
    padding:16px 0;
}.p-24{
    padding:var(--p-24);
}
.p-x-24{
    padding:0 var(--p-24) ;
}
.p-y-24{
    padding:var(--p-24) 0;

}.p-32{
    padding:var(--p-32);
}
.p-x-32{
    padding:0 var(--p-32);
}
.p-y-32{
    padding:var(--p-32) 0;
}
.p-r-5rem{
    padding-right:5rem;
}


.text-box:active, .text-box:focus-visible, .text-box:focus, .text-box:target {
   border: 1.5px solid var(--color-300);
}
.drop-down-list {
    border:var(--border-input);
    border-radius:100px;
    background:var(--gray-100);
    color:var(--gray-500);
    font-family:var(--font-family-display);
    font-size:var(--font-size-normal);
    font-weight:var(--font-weight-regular);
    padding: var(--rounded-input);
    width:100%;
}
.drop-down-list:active, .drop-down-list:focus-visible, .drop-down-list:focus, .drop-down-list:target {
    border: 2px solid var(--color-300);
}
.text-area {
    border:var(--border-input);
    border-radius: var(--rounded-frame);
    background: var(--gray-100);
    color: var(--gray-600);
    font-family: var(--font-family-display);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    padding: .5em .5em;
}
.text-area:target, .text-area:active{
    border-color:var(--color-500);

}
.container-text-area{
    position:relative;
}
.container-text-area .count-text-area {
     position: absolute;
     bottom:12px;
     right:12px;
     color:var(--gray-100);
     padding:.3em;
     border-radius:.3em;
     font-size:var(--font-size-small);
     background-color: rgba(21 , 21, 21, 0.70);
}

.check-box {
    position: relative;
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
    gap: 4px;
    z-index: 10;
}
.check-box > span {
    border-radius: .3em;
    border: var(--border-input);
    background: var(--gray-100, #EAEAEA);
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor:pointer;
}
.check-box > p {
    font-family:var(--font-family-normal);
    font-size:var(--font-size-small) ;
    font-weight:var(--font-weight-medium);
}
.check-box > p > a {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-small);
    color: var(--color-500);
    text-decoration: underline;
    font-weight: var(--font-weight-medium);
    cursor:pointer;
}
.check-box > span > span > input[type =checkbox], .check-box > span > svg{
    display:none;
}
.check-box > span:has(span > input:checked) > svg{
    display:block;
    color:var(--gray-100);
}
.check-box > span:has(span > input:checked) {
    background-color: var(--color-500);
    width: 24px;
    height: 24px;
}

.radio-button {
    border-radius: 50%;
    border: var(--border-input);
    background: var(--gray-100, #EAEAEA);
    display: flex;
    width: 24px;
    height: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
.radio-button > input[type =radio]{
    display:none;
}
.radio-button:has(input:checked) {
    background-color: var(--color-500);
    width: 24px;
    height: 24px;
}
.file-upload > span {
    display:inline-flex;
    flex-direction:row-reverse;
    align-items:center;
    border-radius: 100px;
    background: var(--color-300);
    color: var(--gray-700);
    cursor:pointer;
    font-family: var(--font-family-display);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    gap:8px;
    padding: var(--rounded-input);
}
.file-upload > span > svg{
    width:18px;
}
.file-upload input[type = file]{
    display:none;
}
.tag {
    display: inline-flex;
    flex-direction: row-reverse;
    align-items: center;
    border-radius: 100px;
    border: var(--border-button);
    background: var(--color-100);
    color: var(--gray-600);
    font-family: var(--font-family-display);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-medium);
    align-self: center;
    gap: 8px;
    padding: var(--rounded-input);
}
.tag > svg{
    width:18px;
    height:18px;
    cursor:pointer;
}
.label{
    display:flex;
    align-items:center;
    justify-content:right;
    font-family: var(--font-family-normal);
    font-size: var(--font-size-normal);
    font-weight: var(--font-weight-semibold);
    color:var(--gray-600);
    cursor:pointer;
    white-space:nowrap;
    gap:8px;
}
@media screen and (max-width:800px) {
    .label{
        flex-direction:column;
    }
}

/* Buttons */




/* Layouts Forms*/

main .form-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    width: 100%;
}


.form-column > p, .form-column > p > a {
    font-family: var(--font-family-normal);
    font-size: var(--font-size-small);
    font-weight: var(--font-weight-medium);
}
.form-column > p > a{
    color:var(--color-500);
}

/* Grid View*/

.grid-view {
    overflow:hidden;
    border-radius: 10px;
    background: var(--neutro-white, #F9F9FA);
    /* Shadow */
    box-shadow: 0px 2px 7px 0px rgba(4, 4, 4, 0.26);
}

.grid-view > tbody tr{
    border-top: 1px solid var(--gray-200, #D6D6D6);
    border-bottom: 1px solid var(--gray-200, #D6D6D6);
    position:relative;
}
.grid-view > tbody > tr:first-of-type:has(th) {
    font-weight: var(--font-weight-semibold);
    color: var(--gray-700);
}
.grid-view tr th, .grid-view tr td {
    padding: 12px 12px;
    color: var(--gray-600);
    font-family: var(--font-family-normal);
    font-size: var(--font-size-normal);
    line-height: 200%;
    
}
.grid-view td input[type="image"] {
    position: relative;
    z-index: 10;
    cursor:pointer;
}.grid-view th input[type="image"] {
    position: relative;
    z-index: 10;
    cursor:pointer;
}

.grid-view tr th:first-of-type,
.grid-view tr td:first-of-type {
    padding-left: 34px;
}
.grid-view tr th:last-of-type,
.grid-view tr td:last-of-type {
    padding-right: 34px;
}
.grid-view > tbody > tr:has(:hover) > th::after,
.grid-view > tbody > tr:has(:hover) > td::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid var(--color-300, #6BEEBF);
    border-left: 12px solid var(--color-300, #6BEEBF);
    top: -1px;
    left: 0;
}
div:has( > .grid-view) {
    overflow-x: scroll;
}
/* Grids */
.grid-auto-cols {
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 8), 1fr));
    gap: 16px;
}
@media screen and (max-width:1100px){
    .grid-auto-cols {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 5), 1fr));
    }
}
@media screen and (max-width:800px) {
    .grid-auto-cols {
        grid-template-columns: repeat(auto-fit, minmax(calc(100% / 2), 1fr));
    }
}
/*Flex*/
.flex-inline{
    display:inline-flex;
}
.flex-row{
    flex-direction:row;
}
.flex-row-reverse{
    flex-direction:row-reverse;
}
.justify-center {
    justify-content: left
}

.justify-end {
    justify-content: flex-end;
}
.justify-start {
    justify-content: flex-start;
}
.space-around{
    justify-content:space-around;
}
.space-between{
    justify-content: space-between;
}
/* Contenedor Flexbox con dirección de fila (horizontal) */
.flex-col {
    display: flex;
    flex-direction: column;
}

/* Alinear elementos Flexbox al centro horizontalmente y verticalmente */
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Alinear elementos Flexbox al centro horizontalmente */
.flex-center-h.flex {
    display: flex;
    justify-content: center;
}

/* Alinear elementos Flexbox al centro verticalmente */
.flex-center-v.flex {
    display: flex;
    align-items: center;
}
.flex-center-h.flex-col {
    display: flex;
    align-items: center;
}
.flex-center-v.flex-col {
    display: flex;
    align-items: center;
}
/* Espaciado uniforme entre elementos Flexbox */
.flex-space {
    display: flex;
    justify-content: space-between;
}

/* Estirar elementos Flexbox para ocupar el espacio disponible */
.flex-stretch {
    display: flex;
    align-items: stretch;
}
/* Agregar un gap de 4px entre elementos Flexbox */
.gap-4 {
    display:flex;
    gap: 4px;
}/* Agregar un gap de 8px entre elementos Flexbox */
.gap-8 {
    display: flex;
    gap: 8px;
}

/* Agregar un gap de 16px entre elementos Flexbox */
.gap-16 {
    display: flex;
    gap: 16px;
}

/* Agregar un gap de 24px entre elementos Flexbox */
.gap-24 {
    display: flex;
    gap: 24px;
}

/* Agregar un gap de 32px entre elementos Flexbox */
.gap-32 {
    display: flex;
    gap: 32px;
}

/* Agregar un gap de 40px entre elementos Flexbox */
.gap-40 {
    display: flex;
    gap: 40px;
}

/* Agregar un gap de 48px entre elementos Flexbox */
.gap-48 {
    display: flex;
    gap: 48px;
}

/* Agregar un gap de 56px entre elementos Flexbox */
.gap-56 {
    display: flex;
    gap: 56px;
}

/* Agregar un gap de 64px entre elementos Flexbox */
.gap-64 {
    display: flex;
    gap: 64px;
}

/* Agregar un gap de 72px entre elementos Flexbox */
.gap-72 {
    display: flex;
    gap: 72px;
}

/* Agregar un gap de 80px entre elementos Flexbox */
.gap-80 {
    display: flex;
    gap: 80px;
}
/* Align text to the left */
.text-left {
    text-align: left;
}

/* Center-align text */
.text-center {
    text-align: center;
}

/* Align text to the right */
.text-right {
    text-align: right;
}

/* Justify text */
.text-justify {
    text-align: justify;
}
items-center{
    align-items:center;
}
.gap-16{
    gap:16px;
}

/*Aling self*/


.flex {
    display:flex;

    & .self-start-y{
    justify-self: start;
    }
}

.flex-col {
    & .self-start-y{
    align-self: flex-start;
    }
}
.self-center-h{
    justify-self:center;
}
.self-center-v{
    align-self:center;
}
.self-center-h.flex.col {
    align-self: center;
}
.self-center-V.flex.col {
    justify-self: center;
}


.footer.desktop {
    display: none;
}

.footer {
    background-color: var(--gray-100);
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 2rem;
    padding: 2rem;
    
}

.footer .logo {
    width: 100px;
}

.footer.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer p {
    width: 90%;
    max-width: 300px;
}

.footer .social {
    list-style: none;
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: #595959;
    padding: .5rem;
    border-radius: var(--rounded-button);
}

@media screen and (min-width:500px){
    .footer {
        width: calc(100% - 100px);
        margin-left: 100px;
    }
    .work-side {
        width: calc(100% - 110px);
        padding: 2rem;
        padding-top: 121px;
        margin-left: 110px;
    }
}
@media screen and (min-width:1200px) {
    .footer.mobile {
        display: none;
    }

    .footer.desktop {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 300.408px;
    }

.footer .menu-footer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    list-style: none;
    text-align: left;
}

.footer .menu-footer a {
    font-size: 1rem;
    text-decoration: none;
    color: #000;
}

.footer-social .button {
    margin-bottom: 1rem;
}
}
/*
  Se agrega para realizar responsive a una imagen  con un tamaño maximo. 
*/
@media screen and (max-width:500px) {
    .img {
        align-items: center;
        width: 50%;
        justify-content: center;
        text-align: center;
        display: flex;
    }
}
.gridContainer {
    width: 100%;
    justify-content: center;
    text-align: center;
    display: flex;
}
.grid-auto-col2 {
    display: grid;
    align-items: center;
    justify-content: center;
    text-align:center;
    grid-template-columns: repeat(auto-fit, minmax(calc(100% / 3), 1fr));
    gap: 16px;
}
/*Cv*/

.cv-wrapper {
    display: flex;
    min-width: 360px;
    width: 828px;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding-bottom: 32px;
    overflow: hidden;
    border-radius: var(--rounded-frame);
    background-color: var(--white);
    box-shadow:var(--shadow);
}

.cv-wrapper .cv-header {
    display: flex;
    width: 100%;
    height: 361px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-shrink: 0;
    background-color: var(--gray-800);
    padding: 22px 24px;
    position: relative;
    margin-bottom: 85px;
}

.cv-wrapper .cv-icon svg, .cv-wrapper li.cv-header-info-item svg {
    width: 24px;
    height: 24px;
    background:none;
}
.cv-icon {
    background: none;
}

.cv-header .cv-i-edit {
    align-self: flex-end;
    cursor: pointer;
}
.cv-header .cv-userAvatar {
    width: 100px;
    height: 100px;
    position:relative;
}
.cv-header .cv-userAvatar img {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid var(--color-500);
    background: var(--gray-700) no-repeat;
    overflow: hidden;
    object-fit: cover;
}
.cv-userAvatar .cv-btnAvatar{
    cursor:pointer;
    position:absolute;
    background-color:var(--color-500);
    padding:.5em;
    border-radius:50%;
    bottom:0;
    right:-10px;
}
.avatar {
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 2px solid var(--color-500);
    background: var(--gray-700) no-repeat;
    overflow: hidden;
}
.cv-header .cv-header-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cv-header-info li.cv-header-info-item {
    display: flex;
    align-items: center;
}

    .cv-header-info li.cv-header-info-item:nth-child(5n+3) {
        position: absolute;
        top: 22px;
        left: 22px;
    }

.cv-header .cv-wave {
    position: absolute;
    top: 99%;
    width: 300%;
    height: 86px;
    background-image: url(../images/Wave.svg);
    background-repeat: repeat;
}

.cv-icons {
    gap: 10px;
    display: flex;
}

.cv-section {
    padding: 0 31px;
    width: 100%;
    max-width: 729px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
}

.cv-title_i {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    border-bottom: 1px solid var(--gray-700, #5B5B5B);
}

    .cv-title_i .cv-icon svg {
        color: var(--gray-700);
        cursor: pointer;
    }

.cv-item_info {
    width: 100%;
}

.cv-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.cv-section .cv-text-description {
    text-align: justify;
    height:200px;
}

.cv-item_info .cv-item-info {
    padding-left: 24px;
    position: relative;
}

    .cv-item_info .cv-item-info::before {
        border-left: 1px solid var(--gray-600);
        border-radius: 50%;
        position: absolute;
        content: '';
        top: 10px;
        left: 12px;
        height: calc(100% - 20px);
    }

    .cv-item_info .cv-item-info::after {
        border: 3.99px solid var(--gray-600);
        border-radius: 50%;
        position: absolute;
        content: '';
        z-index: 5;
        left: 9.49px;
        top: calc(100% - 16px);
    }

.cv-item_info .cv-item svg {
    color: var(--gray-700);
    cursor: pointer;
}

cv-item-title {
    gap: 4px;
}

.cv-skills-ul {
    display: flex;
    align-items: center;
    align-content: space-around;
    gap: 14px 10px;
    flex-wrap: wrap;
}
.skills-ul {
    display: flex;
    align-items: center;
    align-content: space-around;
    gap: 14px 10px;
    flex-wrap: wrap;
}

.modal {
    position: fixed;
    border-radius: var(--rounded-frame);
    background: var(--neutro-white, #F9F9FA);
    /* Shadow */
    box-shadow: 0px 2px 7px 0px rgba(4, 4, 4, 0.26);
    top: 50vh;
    left: 50vw;
    transform: translate(-50%,-50%);
    width:100%;
    max-width: 312px;
    height: 312px;
    z-index: var(--z-index-modal);
    padding: 36px;
    display:flex;
    justify-content:center;
}

.modal .btn-close {
    position: absolute;
    top: 12px;
    right: 12px;
}

.modal.close {
    display: none;
}

.modal.medium {
    max-width: 624px;
    height: 468px;
}

.modal.big {
    width: 936px;
    height: 702px;
}

svg.icon-24 {
    width: 24px;
    height: 24px;
}

svg.icon-36 {
    width: 36px;
}

.card {
    padding: 24px 16px;
    border-radius: var(--rounded-frame);
    box-shadow: 0px 1px 7px 0px rgba(0, 0, 0, 0.45);
}
.card-col {
    display: flex;
    width: 141px;
    padding: 24px 16px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: var(--rounded-frame);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
}
.card-col2 {
    display: flex;
    width: 253px;
    padding: 24px 6px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: var(--rounded-frame);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.0);
}

.rectangle {
    padding: 13px 10px;
    height: 64px;
    width: 64px;
    gap: 10px;
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
    border-radius: var(--rounded-frame);
}

.rectangle2 {
    padding: 13px 10px;
    height: 64px;
    width: auto;
    gap: 10px;
    
    border-radius: var(--rounded-frame);
}

.m-auto {
    margin: auto;
}


.card_offer {
    display: inline-flex;
    padding: 12px 12px;
    border: solid 1px var(--gray-300);
    align-items: flex-start;
    border-radius: 10px;
    background: var(--white);
    position: relative;
    /*max-width: 484px;*/
    width: 484px;
    overflow: hidden;
}

.card_offer:hover {
    /* Shadow */
    box-shadow: 0px 4px 7px 0px rgba(4, 4, 4, 0.26);
}
    .card_offer .line {
        display: block;
        height: 1.5px;
        background-color:var(--gray-700);
        margin: 11px 0 ;
        border-radius:1.5px;
    }

.avatar-rectangle {
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 10px;
    border: solid 2px var(--gray-600);
    overflow: hidden;
}
.avatar-rectangle img, .avatar-rectangle svg {
    width: 60px;
    height: 60px;
    object-fit: cover;
}
.avatar-rectangle-80 {
    position: relative;
    width: 80px;
    height: 80px;
    border-radius: 10px;
    border: solid 1px var(--gray-600);
    overflow: hidden
}
    .avatar-rectangle-80 img, .avatar-rectangle-80 svg {
        width: 80px;                                                   
        height: 80px;
        object-fit:cover;
    }
    .icon-16 {
        width: 16px;
    }
/*.card-offer:active, .card-offer:target {
    border: 1px solid var(--green-100);
}*/
A:link {
    text-decoration: none
}

A:hover {
    color: black;
    font-family: arial;
    text-decoration: none
}

A:visited {
    color: black;
    font-family: arial;
    text-decoration: none
}

* {
    outline: none !important;
}

    *:focus {
        outline: none !important;
    }

textarea:focus, input:focus {
    outline: none !important;
}

a {
    text-decoration: none !important;
    outline: none !important;
}

.pointer {
    cursor: pointer;
}

.h-100per {
    height: 100%;
}
.w-100per{
    width:100%;
}
.min-w-80per{
    min-width:80%;
}
.max-w-850px{
    max-width:850px;
}
.max-w-100px {
    max-width: 100px;
}
.max-w-148px {
    max-width: 148px;
}
.max-w-300 {
    max-width:300px;
}

.planes-wrapper{
    display:grid;
    width:100%;
    grid-template-columns: repeat(auto-fill, 350px);
    gap:48px;
    grid-auto-rows:minmax(400px,auto);
    justify-content:center;
}

.card_plan{
    display:flex;
    flex-direction:column;
    width:350px;
    padding: 2rem 2rem ;
    max-width:800px;
 
}
.card_plan .plan-detailName{
    max-width:80%;
  }
.details_fact{
    display:flex;
    flex-direction:column;
    height:70%;
    padding:32px 0;
    border-bottom:solid 2px var(--color-500);
}
.flex-wrap{
    flex-wrap:wrap;
}
.pestana {
    border-radius: 10px 10px 0 0;
    padding: 1rem;
    cursor: pointer;
    border-style:solid;
    border-width: 1px 1px 0px 1px;
    border-color: var(--gray-400);
}
.pestana h3{
    color:var(--gray-400);
}
.pestana.active {
    border-bottom: solid 4px var(--color-400);
}
.pestana.active h3{
    color:var(--gray-600);
}
.wrapper-pestanas{
    border-bottom:solid 1px var(--gray-300);
}
.wrapper-pestanas.isResponsive {
    display: none;
}
@media screen and (max-width:845px) {
    .wrapper-pestanas.isResponsive {
        display: flex;
    }
}
.hidden {
    display: none !important
}
.skills-ul.border {
    border-style: dotted;
    border-width: 0 2px 2px 2px;
    border-color: var(--color-400);
    border-radius: 0 0 10px 10px;
    padding: 8px;
}
.after-2\/4{
    position:relative;
}
.after-2\/4::after{
    content : "";
    display:block;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
.overflow-scroll {
    overflow: scroll;
}

.overflow-x-scroll {
    overflow-x: scroll;
}

.overflow-y-scroll {
    overflow-y: scroll;
}
.overflow-hidden{
    overflow:hidden;
}

@media screen and (max-width:800px){
.md-800\:flex-col{
    flex-direction:column;
}
.md\:flex-col{
    flex-direction:column;
}
.md\:rotate-45deg{
       transform:rotate(45deg);
}
.md\:rotate-90deg{
       transform:rotate(90deg);
}
}

.loader-container {
    min-width:200px;
    max-width: 100%;
}

.loader {
    position: relative;
    width: 100%;
    height: 30px;
    background-color: var(--gray-100);
    border-radius: 20px;
}

.progress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: var(--color-400);
    border-radius: 20px;
}

.circle {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 50px;
    height: 50px;
    background-color: var(--color-600);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}
.input-label{
    border:none;
    background:none;
}
.required-field-validator {
    font-size: var(--font-size-small);
    font-weight:var(--font-weight-medium);
    color: var(--red-500);
    margin-left: 8px;
    line-height: normal;
}
.required-field-validator::after{
    content:"*";
}
.required-field-validator[style*="visibility: hidden;" ],
.required-field-validator[style*="visibility:hidden;" ] {
    display: none;
}
.active {
    border: solid 1px var(--color-500);
}
.relative{
    position:relative;
}
.absolute{
    position:absolute;
    
}
.absolute-center-x {
    left: 50%;
    transform: translateX(-50%);
}
.list-autofill{
    display:flex;
    position:absolute;
    top:105%;
    border-radius:10px;
    padding:.5em;
    border:var(--border-input);
    z-index:50;
}
    .list-autofill option {
        padding:.4em;
        border-radius:.5em;
        cursor:pointer;
        font-size: var(--font-size-small);
        font-family: var(--font-family-normal);
        font-weight:var(--font-weight-medium);
        color:var(--gray-800);
}
.list-autofill option:hover {
    background-color:var(--color-300);
}
.list-autofill:active, .text-box:focus-visible, .text-box:focus, .text-box:target {
    border: 2px solid var(--color-300);
}

.border-solid {
    border-style: solid;
}

.border-dashed {
    border-style: dashed;
}

.border-dotted {
    border-style: dotted;
}

.border-double {
    border-style: double;
}

.border-hidden {
    border-style: hidden;
}

.border-none {
    border-style: none;
}
.border-0 {
    border-width: 0px;
}

.border-2 {
    border-width: 2px;
}

.border-4 {
    border-width: 4px;
}

.border-8 {
    border-width: 8px;
}

.border {
    border-width: 1px;
}

.border-x-0 {
    border-left-width: 0px;
    border-right-width: 0px;
}

.border-x-2 {
    border-left-width: 2px;
    border-right-width: 2px;
}

.border-x-4 {
    border-left-width: 4px;
    border-right-width: 4px;
}

.border-x-8 {
    border-left-width: 8px;
    border-right-width: 8px;
}

.border-x {
    border-left-width: 1px;
    border-right-width: 1px;
}

.border-y-0 {
    border-top-width: 0px;
    border-bottom-width: 0px;
}

.border-y-2 {
    border-top-width: 2px;
    border-bottom-width: 2px;
}

.border-y-4 {
    border-top-width: 4px;
    border-bottom-width: 4px;
}

.border-y-8 {
    border-top-width: 8px;
    border-bottom-width: 8px;
}

.border-y {
    border-top-width: 1px;
    border-bottom-width: 1px;
}

.border-s-0 {
    border-inline-start-width: 0px;
}

.border-s-2 {
    border-inline-start-width: 2px;
}

.border-s-4 {
    border-inline-start-width: 4px;
}

.border-s-8 {
    border-inline-start-width: 8px;
}

.border-s {
    border-inline-start-width: 1px;
}

.border-e-0 {
    border-inline-end-width: 0px;
}

.border-e-2 {
    border-inline-end-width: 2px;
}

.border-e-4 {
    border-inline-end-width: 4px;
}

.border-e-8 {
    border-inline-end-width: 8px;
}

.border-e {
    border-inline-end-width: 1px;
}

.border-t-0 {
    border-top-width: 0px;
}

.border-t-2 {
    border-top-width: 2px;
}

.border-t-4 {
    border-top-width: 4px;
}

.border-t-8 {
    border-top-width: 8px;
}

.border-t {
    border-top-width: 1px;
}

.border-r-0 {
    border-right-width: 0px;
}

.border-r-2 {
    border-right-width: 2px;
}

.border-r-4 {
    border-right-width: 4px;
}

.border-r-8 {
    border-right-width: 8px;
}

.border-r {
    border-right-width: 1px;
}

.border-b-0 {
    border-bottom-width: 0px;
}

.border-b-2 {
    border-bottom-width: 2px;
}

.border-b-4 {
    border-bottom-width: 4px;
}

.border-b-8 {
    border-bottom-width: 8px;
}

.border-b {
    border-bottom-width: 1px;
}

.border-l-0 {
    border-left-width: 0px;
}

.border-l-2 {
    border-left-width: 2px;
}

.border-l-4 {
    border-left-width: 4px;
}

.border-l-8 {
    border-left-width: 8px;
}

.border-l {
    border-left-width: 1px;
}