@import 'Styles.css';

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #969696 #fdfbfb;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #dedede00;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #969696;
    border-radius: 10px;
    border: 3px none #ffffff;
  }



/*Buttons */
.button{
    position: relative;
    display: inline;
    font-size: var(--font-size-normal);
    padding: var(--p-button);
    border-radius: var(--rounded-button);
    font-family: var(--font-family-normal);
    background: var(--color-500);
    color: var(--white);
    font-weight: var(--font-weight-semibold);
    line-height: var(--line-height-normal);
    cursor: pointer;
    white-space: nowrap;
}
.button-ghost{
    
    gap: 8px;
    font-size: var(--font-family-normal);
    padding: var(--p-button);
    border-radius: var(--rounded-button);
    border:solid 2px var(--color-500);
    color: var(--color-500);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
}
.button-cerrar {
    gap: 8px;
    font-size: var(--font-family-normal);
    padding: var(--p-button);
    border-radius: var(--rounded-button);
    border: solid 2px var(--color-500);
    color: var(--color-500);
    font-weight: var(--font-weight-semibold);
    cursor: pointer;
}
.button-ghost:hover{
    background-color: var(--color-500);
    border-color: var(--white);
    color: var(--white);
    
}
.button-ghost:hover img{
    filter: invert(0.4);
     filter:brightness(100)
     
}
.button:hover.button::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: var(--rounded-button);
    width: 100%;
    height: 100%;
    background-color: #2b2b2b2e;
}

/* Font */

.text-title{
    font-family: var(--font-family-display);
    font-size: var(--font-size-title);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-bold);
}
.text-subtitle{
    font-family: var(--font-family-display);
    font-size: var(--font-size-subtitle);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-semibold);
}
.text-title-section{
    font-family: var(--font-family-display);
    font-size: var(--font-size-section);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-semibold);
}
.text-tilte-item{
    font-family: var(--font-family-display);
    font-size: var(--font-size-item);
    line-height: var(--line-height-title);
    font-weight: var(--font-weight-semibold);
}
.text-normal{
    font-size: var(--font-size-normal);
    font-family:var(--font-family-normal);
}
.text-small{
    font-size: var(--font-size-small);
    font-family:var(--font-family-normal);
}
.text-highlighted{
    color:var(--color-500);
}
.text-underline{
    text-decoration-line:underline ;
}
.texts-iniline{
    display: flex;
    justify-content: space-between;
}
.text-small-14{
    font-size: var(--font-size-small);
    font-family: var(--font-family-display);
}
.gray-500{
    color: var(--gray-500);
}
.red-500 {
    color: var(--gray-500);
}
.gray-900{
    color:var(--gray-900);
}
.text-regular{
    font-weight:var(--font-weight-regular);
}
.text-small-12{
    font-size: .8rem;
}
.text-bold{
    font-weight: bold;
}
.text-semibold{
    font-weight: var(--font-weight-semibold);
}
.text-gray-500{
    color: rgba(0, 0, 0, 0.52);
    font-weight: 500;
}
.text-small-slim{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.42);
    font-weight: 500;
}
.pointer{
    cursor: pointer;
}
.h-group h4{
    font-size: var(--text-small);
    color: var(--gray-600, #7A7A7A);
    font-weight: 700;
}
.input{
    border-radius: 100px;
    border: 2px solid var(--gray-300);
    background: var(--gray-100);
    width: 100%;
    padding: 12px 20px;
    font-family:var(--font-family-display);
    font-size: 16px;
    font-weight: 600;
}
.text {
    font-family: var(--font-family-display);
    font-size: 16px;
    font-weight: 600;
    
}
.form-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    width: 100%;
}
body{
    height: 100dvh;
}
.item-center{
    align-self: center;
}
.place-center{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
/* Header */

.header{
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 54px;
    background-color: var(--white);
    /*box-shadow: var(--shadow);*/
    z-index: 10; 
}
.logo{
    height: 100%;
}
.logo img{
    height: 80%;
}
.header .tech{
    display: none
}
.header .button{
    display: none;
}
.iconMenu img{
    width: 42px;
}
.chkOpenMenu{
    display: none;
}
.wrapper-menu-main{
    display: flex;
    position: absolute;
    padding: 2rem;
    width: 100%;
    background-color: var(--gray-100);
    font-weight: var(--font-weight-semibold);
    left: 0;
    top: 54px;
    height: 100dvh;
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
}
.wrapper-menu-main ul {
     list-style: none;
     display: flex;
     flex-direction: column;
     gap: 32px;
     width: 100%;
}
.wrapper-menu-main li {
    width: 100%;
}
    .wrapper-menu-main a {
        display: flex;
        color: var(--gray-900);
        opacity: .7;
        padding: .8em 0;
        white-space: nowrap;
        border-bottom: solid 1px var(--gray-900);
        width: 100%;
    }
.wrapper-menu-main a:hover{
    opacity: 1;
}
.chkOpenMenu:checked ~ .wrapper-menu-main{
    transform: translateX(0);
}
.loginIconDesktop{
    display: none;
}
@media screen and (min-width:800px) {
    .header .button{
        display: block;
    }
    .wrapper-menu-main{
        top: 75px;
        max-width: 300px;
    }
}

@media screen and (min-width:1200px) {
    
    .header{
        height: 75px;

    }
    .header .tech{
        display: block;
    }
    .menu img{
        width: 60px;
    }
    .loginIconDesktop{
        display:flex ;
    }
    .loginIcon{
        display: none;
    }
}

