* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    text-decoration: none;
    font-size: 16px;
    border: none;
}
@font-face {
    font-family: inter;
    src: url(../fonts/static/Inter-Black.ttf);
    font-weight: 800;
    font-style: normal;
}
@font-face {
    font-family: inter;
    src: 
         url(../fonts/static/Inter-Bold.ttf);
         font-weight: 700;
         font-style: normal;
        
}
@font-face {
    font-family: inter;
    src: 
         url(../fonts/static/Inter-SemiBold.ttf);
         font-weight: 600;
         font-style:normal ;
}

@font-face {
    font-family: inter;
    src: 
        url(../fonts/static/Inter-Medium.ttf);
        font-weight: 500;
        font-style: normal;
}
@font-face {
    font-family: inter;
    src: 
         url(../fonts/static/Inter-Regular.ttf);
         font-weight: 400;
         font-style: normal;
}
:root {
    --font-size-small: .8rem;
    --text-small: 14px;
    --text-normal: 16px;
    --p-button: .8em 2em;
    --rounded-button: 1.5em;
    /* Colors */


    --red-100: #FAD6D6;
    --red-200: #F5ADAD;
    --red-300: #F18484;
    --red-400: #EC5B5B;
    --red-500: #E73232;
    --red-600: #B92828;
    --red-700: #8B1E1E;
    --red-800: #5C1414;
    --red-900: #2E0A0A;
    --gray-50: #FCF9F9;
    --gray-100: #EAEAEA;
    --gray-200: #D6D6D6;
    --gray-300: #C1C1C1;
    --gray-400: #ADADAD;
    --gray-500: #989898;
    --gray-600: #7A7A7A;
    --gray-700: #5B5B5B;
    --gray-800: #3D3D3D;
    --gray-900: #1E1E1E;
    --gray-1000: #5B5B5B;
    --green-100: #CEF9EA;
    --green-200: #9DF3D4;
    --green-300: #6BEEBF;
    --green-400: #3AE8A9;
    --green-500: #09E294;
    --green-600: #07B576;
    --green-700: #058859;
    --green-800: #045A3B;
    --green-900: #1E1E1E;
    --orange-300: #FFC466;
    --orange-400: #FFB133;
    --orange-500: #FF9D00;
    --orange-600: #CC7E00;
    --orange-700: #995E00;
    --orange-800: #663F00;
    --orange-900: #331F00;
    --white: #ffffff;
    --black: #050505;
    --shadow: 0px 2px 4px 0px rgba(126, 126, 126, 0.808);
    /*linear Gradients*/
    --bg-gradient-500: linear-gradient(0deg, var(--gray-50) 86.61%, var(--color-500) 106%);
    /* Fonts */
    --font-family-display: inter;
    --font-family-normal: inter;
    --font-size-title: 40px;
    --font-size-subtitle: 32px;
    --font-size-section: 24px;
    --font-size-item: 20px;
    --font-size-normal: 16px;
    --font-size-small: 14px;
    --font-weight-black: 800;
    --font-weight-bold: 700;
    --font-weight-semibold: 600;
    --font-weight-medium: 500;
    --font-weight-regular: 400;
    --line-height-title: 160%;
    --line-height-norma: 200%;
}
@media screen and (min-width:1200px) {
    :root{
        --font-size-title:54px; 
        --font-size-subtitle:40px;
    }
}
h1, h2, h3 ,h4{
    font-family: var(--font-family-display);
}
p, a{
    font-family: var(--font-family-normal);
}
body{
    background-color: var(--white);
}


