<?xml version="1.0"?>
<!--
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data"/>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.1.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <appSettings>
    <add key="ArchivoLog" value="C:\FUENTES ITMASTERS\AcademicsV2TEC\LOGERRORES_SERVICIOS.LOG"/>
  </appSettings>
  <dataConfiguration defaultDatabase="MiEmpleo"/>
  <connectionStrings>
    <add name="MiEmpleo" providerName="System.Data.SqlClient" connectionString="data source=Servidor; initial catalog=MiEmpleo; user id=sa; password=ITMasters"/>
  </connectionStrings>
  <!--
    Para obtener una descripción de los cambios de web.config, vea http://go.microsoft.com/fwlink/?LinkId=235367.

    Los siguientes atributos se pueden establecer en la etiqueta <httpRuntime>.
      <system.Web>
        <httpRuntime targetFramework="4.5.1" />
      </system.Web>
  -->
  <system.web>
    <!--
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.8"/>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <!--
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="false"
      multipleSiteBindingsEnabled="true" />
    <services>
		<service name="co.itmasters.solucion.servicios.MercadoPagoNotificationService">
			<endpoint address=""
					  binding="webHttpBinding"
					  contract="co.itmasters.solucion.servicios.IMercadoPagoNotificationService"
					  behaviorConfiguration="webHttpBehavior" />
		</service>
      <service behaviorConfiguration="co.itmasters.solucion.servicios.OfertaServiceBehavior" name="co.itmasters.solucion.servicios.OfertaService">
        <endpoint address="" binding="basicHttpBinding" contract="co.itmasters.solucion.servicios.IOfertaService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="co.itmasters.solucion.servicios.EmpresaServiceBehavior" name="co.itmasters.solucion.servicios.EmpresaService">
        <endpoint address="" binding="basicHttpBinding" contract="co.itmasters.solucion.servicios.IEmpresaService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="co.itmasters.solucion.servicios.SeguridadServiceBehavior" name="co.itmasters.solucion.servicios.SeguridadService">
        <endpoint address="" binding="basicHttpBinding" contract="co.itmasters.solucion.servicios.ISeguridadService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="co.itmasters.solucion.servicios.ComunesServiceBehavior" name="co.itmasters.solucion.servicios.ComunesService">
        <endpoint address="" binding="basicHttpBinding" contract="co.itmasters.solucion.servicios.IComunesService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="co.itmasters.solucion.servicios.PersonaServiceBehavior" name="co.itmasters.solucion.servicios.PersonaService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="b1" contract="co.itmasters.solucion.servicios.IPersonaService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
      <service behaviorConfiguration="co.itmasters.solucion.servicios.ConfiguracionServiceBehavior" name="co.itmasters.solucion.servicios.ConfiguracionService">
        <endpoint address="" binding="basicHttpBinding" bindingConfiguration="b1" contract="co.itmasters.solucion.servicios.IConfiguracionService">
          <identity>
            <dns value="localhost"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="b1" closeTimeout="00:01:00" openTimeout="00:10:00" receiveTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" textEncoding="utf-8" transferMode="Buffered" useDefaultWebProxy="true" messageEncoding="Text">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
		<endpointBehaviors>
			<behavior name="webHttpBehavior">
				<webHttp />
			</behavior>
		</endpointBehaviors>
      <serviceBehaviors>
        <behavior name="co.itmasters.solucion.servicios.OfertaServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="34"
            maxConcurrentInstances="56" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="co.itmasters.solucion.servicios.EmpresaServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="34"
            maxConcurrentInstances="56" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="co.itmasters.solucion.servicios.SeguridadServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="34"
            maxConcurrentInstances="56" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="co.itmasters.solucion.servicios.ComunesServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="34"
            maxConcurrentInstances="56" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="co.itmasters.solucion.servicios.PersonaServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="34"
            maxConcurrentInstances="56" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="co.itmasters.solucion.servicios.ConfiguracionServiceBehavior">
          <serviceThrottling maxConcurrentCalls="16" maxConcurrentSessions="34"
            maxConcurrentInstances="56" />
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>